html {
    font-size: 20px;
}

body {
    font-family: "Arial","Meiryo",sans-serif;
    text-align: center;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    letter-spacing: 1.2em;
    font-size: 2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115,115,114);
    
    margin: 0;
  line-height: 0;
  padding-bottom: 0px; 

}
.blue {
    color: skyblue;
}
.pink {
    color: rgb(255,192,203);
}
#basic div {
    font-weight: bold;
}
